# Gradle
.gradle/
build/
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr

# Kotlin
*.kotlin_module

# Android
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/

# iOS
iosApp/iosApp.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
DerivedData/
.DS_Store

# OS files
Thumbs.db
.DS_Store

# Env / Secrets
.env
*.jks
*.keystoreNUL
